.blackbanner .shopcart {
    display: none;
    position: relative;
    width: calc(100% - 50px);
    max-width: 600px;
    background-color: #222;
    margin: 0 auto;
    overflow: hidden;
}

.blackbanner .shopcart .close {
    padding: 10px 30px;
    position: absolute;
    border: none;
    background-color: transparent;
    color: #888;
    right: 0;
    top: 8px;
}

.blackbanner .shopcart .close:hover {
    text-decoration: underline;
}

.shopcart .form {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.shopcart .form * {
    width: 60%;
    margin: 10px auto;
}

.shopcart .form input {
    /* background-color: #333; */
    background-color: transparent;
    color: #fff;
    border: none;
    border-bottom: 2px solid #30E3CA;
    padding: 5px 0;
    font-size: 16px;
    outline: none;
}

.shopcart .form button {
    padding: 5px 15px;
    font-size: 16px;
    border: none;
    border-radius: 20px;
    background-color: #444;
    color: #777;
    cursor: no-drop;
}

.shopcart .form .unlocked {
    color: #30E3CA;
    background-color: #40514E;
    cursor: pointer;
}

.shopcart .form .unlocked:active {
    background-color: #000;
}

.shopcart .products-list .hpanel {
    margin-top: 10px;
    border-bottom: 1px solid #40514E;
    border-top: 1px solid #40514E;
    display: flex;
}

.shopcart .products-list .hpanel p {
    line-height: 40px;
    margin-left: 30px;
}

.shopcart .products-list .list div {
    display: flex;
    justify-content: space-between;
}

.shopcart .products-list .list div p {
    line-height: 40px;
    margin-left: 30px;
}

.shopcart .products-list .list button {
    background-color: transparent;
    border: none;
    color: #888;
    margin-right: 30px;
}

.shopcart .products-list .list button:hover {
    text-decoration: underline;
}