/* Этот файл определяет стиль для блока преимуществ, а так же слайдера. */
/* Слайд состоит из блока и текстом с заголовком, абзацами и кнопками смены слайда, а так же из блока с картинкой. */
.advantages {
    /* Основной блок */
    width: 100%;
    height: 576px;
    background-color: #111;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.advantages .slider {
    /* Задний фон для слайдера */
    width: 100%;
    height: 440px;
    background-color: #3215A2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
}

.advantages .slider .b-slide {
    position: absolute;    
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    color: #fff;
    background-color: #E52557;
    transition: 100ms;
}

.advantages .slider .b-slide:active {
    background-color: #000;
    color: #E52557;
}

.advantages .slider .b-prev {
    right: calc(50% + 420px);
}

.advantages .slider .b-next {
    left: calc(50% + 420px);
}

.advantages .slider .container {
    /* Блок, содержащий ряд слайдов */
    max-width: 800px;
    height: 100%;
    margin: 0 auto; 
    background-color: #222;
    flex-shrink: 1;
    overflow: hidden;
}

.advantages .slider .container .slideline {
    /* Ряд слайдов */
    height: 100%;
    position: relative;
    left: 0;
    display: flex;
}

.advantages .slider .container .slideline .slide {
    /* Слайд, содержащий текстовый блок и картинку */
    display: flex;
    height: 100%;
    background-color: #000;
}

.advantages .slider .container .slideline .slide .txt-container {
    /* Текстовый блок, рассчитанный на заголовок, абзацы и кнопки смены слайда */
    height: 100%;
    width: 500px;
    flex-shrink: 2;
    border-left: 10px solid #E52557;
    position: relative;
}

.advantages .slider .container .slideline .slide .txt-container .firstline {
    /* margin-top: 30px; */
    font-size: 16px;
    color: #aaa;
}

.advantages .slider .container .slideline .slide .txt-container h3 {
    /* Заголовок слайда */
    margin: 25px 10px 25px 30px;
}

.advantages .slider .container .slideline .slide .txt-container p {
    /* Абзацы в текстовом блоке слайда */
    margin: 15px;
    margin-left: 20px;
    font-size: 18px;
}

.advantages .slider .container .slideline .slide .txt-container .b-next {
    /* Смещение одной из кнопок */
    left: 70px;
}

.advantages .slider .container .slideline .slide .img-container {
    /* Блок, содержащий и форматирующий картинку */
    height: 100%;
    width: 300px;
    flex-shrink: 1;
    overflow: hidden;
}
