.blackbanner .details {
    position: relative;
    width: calc(100% - 100px);
    max-width: 800px;
    min-height: 300px;
    max-height: 90vh;
    overflow: auto;
    margin: 0 auto;
    background-color: #333;
    display: none;
}

.details .purchase-block {
    justify-content: space-around;
    background-color: #222;
    margin-left: 0;
    margin-right: 0;
    position: fixed;
    width: calc(100% - 100px);
    max-width: 800px;
    z-index: 95;
}

.details .purchase-block * {
    width: 160px;
    margin-left: 10px;
    margin-right: 10px;
}

.details .purchase-block .price {
    display: block;
    line-height: 50px;
    padding: 0 25px;
    /* background-color: #111; */
    border-radius: 25px;
    cursor: default;
    text-align: center;
    width: 145px !important;
}

.details .purchase-block .close {
    color: #888;
    padding: 0;
    line-height: 1;
    text-transform: capitalize !important;
    width: 100px !important;
}

.details .txt-container {
    overflow: auto;
}

.details .txt-container img {
    display: block;
    width: calc(100% - 100px);
    margin: 0 auto;
}