/* Основной CSS-файл. Определяет общий стиль и стиль шапки сайта */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    font-family: 'Trebuchet MS';
}

body {
    background-color: #222;
    color: #fff;
    min-height: 100vh;
}

header * {
    max-height: 80px;
}

header {
    display: flex;
    justify-content: center;
    justify-items: center;
    height: 80px;
    background-color: #4520CE;
    position: fixed;
    width: 100%;
    z-index: 90;
}

header .shopcart {
    display: flex;
    justify-content: start;
    justify-items: center;
    width: 240px;
}

header .shopcart .cart-img-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .shopcart .cart-img-container:hover {
    background-color: #3215A2 !important;
    cursor: pointer;
}

header .shopcart .wrap {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .shopcart .wrap p {
    display: block;
    font-family: 'Trebuchet MS';
    line-height: 1;
    font-weight: bold;
    margin-left: 10px;
}

header .shopcart .cart-img-container img {
    display: block;
    max-width: 60px;
}

header .searchbox {
    height: 100%;
    width: 40%;
    max-width: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

header .searchbox input {
    display: block;
    padding: 5px 15px;
    margin: 0 auto;
    width: calc(100% - 50px);
    font-size: 18px;
    border-radius: 20px;
    border: 2px solid #09D6A5;
    /* border: 2px solid #E52557; */
    /* border-radius: 0; */
    background-color: #111;
    color: #888;
    outline: none;
}

h3 {
    font-size: 28px;
    font-weight: bold;
    line-height: 30px;
    color: #90F1DA;
}

.headerfix {
    width: 100%;
    height: 80px;
    background-color: #111;
}

.img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

button {
    cursor: pointer;
}