.products {
    width: 100%;
    min-height: 800px;
    background-color: #111;
}

.products .headpanel {
    width: 100%;
    height: 70px;
    background-color: #000;
    color: #fff;
    display: flex;
}

.products .headpanel h2 {
    display: inline-block;
    line-height: 70px;
    font-family: 'Trebuchet MS';
    font-size: 36px;
    /* text-transform: uppercase; */
    margin-left: 100px;
    color: #09D6A5;
}

.products .headpanel .button-container {
    display: inline-block;
    margin-left: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.products .headpanel .button-container button {
    font-family: 'Trebuchet MS';
    font-size: 20px;
    line-height: 20px;
    padding: 10px 30px;
    font-weight: bold;
    color: #fff;
    background-color: transparent;
    border: none;
    border-right: 3px solid #fff;
    border-left: 3px solid #fff;
    border-radius: 0;
    transition: 50ms;
}

.products .headpanel .button-container button:hover {
    border-color: #E52557;
}

.products .headpanel .button-container button:active {
    border-color: #fff;
}

.products .container {
    display: flex;
    justify-content:space-around;
    flex-wrap: wrap;
    margin: 50px auto;
    margin-bottom: 0;
    width: calc(100% - 150px);
    min-height: 500px;
    /* border: 1px solid white;
    box-sizing: content-box; */
}

.products .container .product {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 500px;
    min-height: 200px;
    margin-bottom: 50px;
    background-color: #222;
}

.products .container .product .img-container {
    width: 100%;
    height: 200px;
    background-color: #4520CE;
}

.products .container .product .txt-container {
    position: relative;
    color: #fff;
}

.products .container .product .txt-container h3 {
    text-align: center;
    font-family: 'Trebuchet MS';
    font-size: 26px;
    line-height: 30px;
    margin: 20px 30px;
    color: #90F1DA;
}

.products .container .product .txt-container h3::after {
    display: block;
    content: "";
    position: relative;
    margin: 20px auto;
    width: 100px;
    height: 3px;
    background-color: #E52557;
}

.products .container .product .txt-container p {
    font-size: 18px;
    margin: 20px 30px;
    line-height: 140%;
}

.products .container .product .txt-container ul {
    padding: 10px 0;
}

.products .container .product .txt-container ul li{
    margin-left: 50px;
    font-size: 18px;
    line-height: 24px;
    font-family: 'Trebuchet MS';
    list-style: "- ";
}

.products .container .product .category {
    margin-left: 30px;
    margin-bottom: 25px;
    font-size: 14px;
    color: #888;
}

.products .container .product .button-container {
    width: 100%;
    height: 60px;
    border-top: 2px solid #fff;
}